input.switch-lang-button[type=submit] {
    padding: 0 !important;
    width: 25px !important;
    border-width: 0 !important;
}

input.switch-lang-ru[type=submit] {
    background: url("../../img/flag_russia_16.png") no-repeat !important;
}

input.switch-lang-en[type=submit] {
    background: url("../../img/flag_united_kingdom_16.png") no-repeat !important;
}

.switch-lang-form {
    display: inline-block;
}