{% extends 'rest_framework/base.html' %}

{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/rest_framework/base.css' %}" />
{% endblock %}

{% block title %}
    {% if name %}{{ name }} – {% endif %}Tutors App API
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
{% endblock %}

{% block branding %}
    <a class="navbar-brand" rel="nofollow" href="{% url 'api-docs:docs-index' %}">
        <img class="" src="{% static 'img/logo.png' %}" alt="Tutors App Logo" height="50" width="50">
        Tutors App API
    </a>

    <div class="pull-right">
        <form action="{% url 'set_language' %}" method="post" class="form-inline switch-lang-form">
            {% csrf_token %}
            <input name="language" type="hidden" value="ru">
            <input type="submit" value="" class="switch-lang-button switch-lang-ru">
        </form>
        <form action="{% url 'set_language' %}" method="post" class="form-inline switch-lang-form">
            {% csrf_token %}
            <input name="language" type="hidden" value="en">
            <input type="submit" value="" class="switch-lang-button switch-lang-en">
        </form>
    </div>
{% endblock %}
