.fullHeight {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.bottomPaddingGroup {
    padding-bottom: 10px !important;
}

.ratingLabel {
    background: #FFBA00;
    border-radius: 3px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;

    color: #FFFFFF;

    width: auto;
    text-align: center;
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 2px;
    margin-right: 8px;
}

.listItemNoPadding>div {
    padding: 0 !important;
}
.listItemNoPadding .ListItem__main {
    padding: 0 !important;
}

.Slider__dragger::before {
    left: 0;
}

.PanelHeader--android .PanelHeader__content {
    padding-right: 90px;
}

.PanelHeader--ios .PanelHeader__content {
    max-width: 235px;
}
.promoLabel {
    font-size: 14px;
    color: #aaaeb3;
}