input.switch-lang-button[type=submit] {
    padding: 0;
    width: 25px;
}

input.switch-lang-ru[type=submit] {
    background: url("../../img/flag_russia_16.png") no-repeat;
}

input.switch-lang-en[type=submit] {
    background: url("../../img/flag_united_kingdom_16.png") no-repeat;
}

.switch-lang-form {
    display: inline-block;
}

#header {
    background: #333333;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

#changelist-filter h2, .submit-row input, .module caption {
    background: #333333;
}

#content-main .module, #content-related .module {
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

#content-related .module {
    background: #f8f8f8;
}

div.breadcrumbs {
    background: #666666;
}

#changelist .paginator {
    border: 0;
}

#content-related {
     background: #ffffff;
}

.change-list .filtered {
    min-height: auto;
}