:root {
    --accent: #45a29e;
    --header_background: #1f2833;
    --button_primary_background: #45a29e;
    --tabbar_active_icon: #45a29e;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

input {
    -webkit-user-select: text !important;
}

button, .CellButton, .Button, .Cell--expandable {
    cursor: pointer;
}

* {
    user-select: none !important;
    -moz-user-select: none !important; /* Firefox */
    -ms-user-select: none !important; /* Internet Explorer */
    -khtml-user-select: none !important; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none !important; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none !important; /* Disable Android and iOS callouts*/
}

.rdtPicker {
    border: 1px solid var(--field_border);
    border-radius: 10px;
    width: auto;
    max-width: 640px;
    margin: auto;
}

.rdtPicker td.rdtActive, .rdtPicker td.rdtActive:hover {
    background-color: var(--tabbar_active_icon);
}

.view-enter {
    position: fixed;
    top: 0;
    left: 100%;
}

.view-enter.view-enter-active {
    -webkit-transform: translateX(-100%);
			transform: translateX(-100%);
    transition: transform 400ms linear;
    transition-delay: 100ms;
    will-change: transform;
}

.view-leave {
    position: fixed;
    top: 0;
    left: 0;
}

.view-leave.view-leave-active {
    -webkit-transform: translateX(-100%);
			transform: translateX(-100%);
    transition: transform 400ms linear;
    transition-delay: 100ms;
    will-change: transform;
}

.view-back-enter {
    position: fixed;
    top: 0;
    left: -100%;
}

.view-back-enter.view-back-enter-active {
    -webkit-transform: translateX(100%);
			transform: translateX(100%);
    transition: transform 400ms linear;
    transition-delay: 100ms;
    will-change: transform;
}

.view-back-leave {
    position: fixed;
    top: 0;
    left: 0;
}

.view-back-leave.view-back-leave-active {
    -webkit-transform: translateX(100%);
			transform: translateX(100%);
    transition: transform 400ms linear;
    transition-delay: 100ms;
    will-change: transform;
}