a {
    color: inherit;
    text-decoration: none;
}

.Cell__before {
    align-items: flex-start;
}

.rdtPicker {
    border: 1px solid var(--field_border);
    border-radius: 10px;
    width: auto;
    max-width: 640px;
    margin: auto;
}

.view-enter {
    opacity: 0.01;
}

.view-enter.view-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.view-leave {
    opacity: 1;
}

.view-leave.view-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}